
#root {
    margin: 0;
  }
  
  .main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .main {
    min-width: 750px;
  }
  
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .nav-bar_1 {
    display: flex;
    justify-content: space-around;
    background-color: #C4C4C4;
    width: 100%;
    height: 55px;
  }

  .link {
    font-size: 1.1rem;
  }

  .user-window-link {
    background-image: url("../src/icon/window-user.svg");
    position: absolute;
    top: 23px;
    right: 24px;
    width: 102px;
    height: 102px;
  }

  .button-user-window{
    width: 108px;
    height: 39px;
    position: absolute;
    top: 560px;
    right: 270px;
    bottom: 6px;
    left: 15px;
  }
  
  .user-window-hidden {
    display: none;
  }
  
  .user-window {
    background-color: #FFFFFF;
    position: absolute;
    top:55px;
    right: 50px;
    width: 393px;
    height: 605px;
    border: 2px solid #3BAE39;
    background: #FDFDFD;
    box-sizing: border-box;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 25px 25px;
  }
  
  .email-user-window{
    width: 330px;
    height: 236px;
    left: 1020px;
    top: 315px;
    position: absolute;
    top: 260px;
    right: 40px;
    bottom: 109px;
    left: 23px;
    margin: auto;
    background: #E6FFE6;
    border: 1px solid #4D784D;
    box-sizing: border-box;
  }
  
  .button-email-user-window {
    border: none;
    width: 140px;
    height: 32px;
    left: 1210px;
    top: 562px;
    background: #3BAE39;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    display: inline-block;
    position: absolute;
    top: 507px;
    right: 40px;
    bottom: 66px;
    left: 213px;
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
  }
  
  
  .question-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: #FFF;
    margin: 0;
    border: 1px solid #C4C4C4;
  }
  
  
  .questions-container::-webkit-scrollbar {
    width: auto;
    height: 0%;
    border-radius: 50px;
  }
  
  .questions-container::-webkit-scrollbar-track {
    background: #3BAE39;
  }
  
  .questions-container::-webkit-scrollbar-thumb {
    border: 2px solid #4D784D;
    box-sizing: border-box;
    border-radius: 50px;
  }
  
  .one-question-container {
    display: flex;
    flex-flow: row-reverse wrap;
    margin: 10px 2px 10px 2px;
    margin-left: 37px;
    width: 80%;
    height: 9rem;
    background-color: #E6FFE5;
    border: 2px solid #4D784D;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }
  
  .text-container {
    margin: 5px 0 0 0;
    width: 100%; 
    height: 6rem; 
  }
  
  .question-text {
    font-family: Kanit,'Arial';
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    color: #000;
    line-height: 30px;
    text-align: center;
  }
  
  .circle {
    margin: 15px 3px 0 3px;
    width: 1rem;
    height: 1rem;
    background: #3BAE39;
    border: 3px solid #3BAE39;
    border-radius: 50%;
    box-sizing: border-box;
  }
  
  .question-adder {
    display:inline-block;
    width:36px;
    height:36px;
    background:
      linear-gradient(#3BAE39 0 0),
      linear-gradient(#3BAE39 0 0),
      #E6FFE6;
    background-position:center;
    background-size: 50% 4px,4px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
    border-radius:50%;
    border: none;
    align-self: flex-start;
    margin: 10px 0 0 10%;
  }
  
  .get-user-window {
    width: 305px;
    height: 47px;
    position: absolute;
    left: 15px;
    top: 13px;
    
    background: #E6FFE6;
    color: #4D784D;
    border: 1px solid #4D784D;
    box-sizing: border-box;
  }
  
  .button-get-user-window {
    outline: none; 
    border: 0;
    background: transparent;
  
    height: 25px;
    width: 25px;
    position: absolute;
    top: 25px ;
    right:  87px;
    cursor: pointer;
  }
  
  .button-get-user-window:before {
    content: url("../their_image/get_bunnon.png");
    font-family: FontAwesome;
    font-size: 16px;
    color: #000000;
  }
  .button-user-window{
    width: 108px;
    height: 39px;
    position: absolute;
    top: 560px;
    right: 270px;
    bottom: 6px;
    left: 15px;
  }
  .button-email-user-Settings{
    outline: none; 
    border: 0;
    background: transparent;
  
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0 ;
    left: 0;
    cursor: pointer;
  }
  .button-email-user-Settings:before {
    content: url("../src/their_image/Setting_button.png");
    font-family: FontAwesome;
    font-size: 16px;
    color: #000000;
  }
  .button-email-user-Exit{
    outline: none; 
    border: 0;
    background: transparent;
  
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0 ;
    right: 0;
    cursor: pointer;
  }
  .button-email-user-Exit:before {
    content: url("../src/their_image/Exit_bunnon.png");
    font-family: FontAwesome;
    font-size: 16px;
    color: #000000;
  }
  .text-user{
    width: 219px;
    height: 135px;
    position: absolute;
    left: 23px;
    top: 82px;
  }
  .answer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    width: 50%;
    height: 100vh;
    margin: 10px 2px 2px 2px;
    
  }
    
    .answer-text-area {
      background: rgba(230, 255, 230, 0.5);
      border: 2px solid #3BAE39;
      box-sizing: border-box;
      border-radius: 25px;
      width: 70%;
      height: 9rem;
    }
  
    .photo-loader {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin: 20px 0 0 0;
      width: 70%;
      height: 25rem;
      background: rgba(230, 255, 230, 0.5);
      border: 2px solid #3BAE39;
      box-sizing: border-box;
      border-radius: 25px;
    }
  
    .load-text {
   
      font-family: 'Kanit';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 54px;
      text-align: center;
      
      color: rgba(0, 0, 0, 0.5);
    }

    .load-text1 {
   
      font-family: 'Kanit';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 54px;
      text-align: center;
      
      color: rgba(0, 0, 0, 0.5);
    }


  .text-heading{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #4D784D; 
}

  .text-one-heading{
   margin-left: 37px;
   width: 80%;
    }

  .button-question{
   margin-left: 37px;
   width: 80%;
  }


 .button-question-previous{
  content: url("../layout/Icons/Previous.png");
    font-family: FontAwesome;
    font-size: 16px;
    color: #000000;
    margin: 0 10px 0 0;

 } 
 .button-question-edit {
  content: url("../layout/Icons/Edit.png");
    font-family: FontAwesome;
    font-size: 16px;
    color: #000000;
    margin: 0 10px 0 0;

 } 
 .button-question-random{
  content: url("../layout/Icons/Random.png");
    font-family: FontAwesome;
    font-size: 16px;
    color: #000000;
    margin: 0 10px 0 0;

 }
 .button-question-next{
  content: url("../layout/Icons/Next.png");
    font-family: FontAwesome;
    font-size: 16px;
    color: #000000;
    margin: 0 10px 0 0;
 }

.answer-text-notes{
  margin-left: 37px;
  width: 80%;
  height: 50%;

  background: rgba(230, 255, 230, 0.5);
  border: 2px solid #3BAE39;
  box-sizing: border-box;
  border-radius: 25px;
}