@font-face { 
  font-family: 'Karit'; 
  src: url('Quicksand\ Light.ttf') format('opentype');
  font-weight: normal; 
  font-style: normal; 
}

#root {
  font-family: 'Karit';
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.main {
  min-width: 750px;
  height: 100%;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

