/* html, body{
    height: 100%;
}
header{
    display: none;
}
body{
    display: flex;
    justify-content: center;
} */
.sign_page{
    margin: auto;
    width: 400px;
}

.sign_h1{
    text-align: center;
    font: 38px sans-serif;
}
.signup, .login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_input{
    width: 300px;
    height: 25px;
    border:2px solid #4D784D;
    border-radius: 5px;
    margin-top: 10px;    
    padding-left: 10px;
}

.sign_button{
    margin: 10px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #3BAE39;
    color: #FFFFFF;
    font: 20px sans-serif;
}